.main{
    height: 150px;
    width: 700px;
    border: 1px solid violet;
}

.top{
    margin-left: 30px;
    margin-top: 50px;
    padding-left: 25px;
    padding-top: 15px;
}

.bottom{
    margin-top: 400px;
    margin-left: 350px;
    padding-left: 20px;
    padding-top: 20px;
}